<!-- components/register/register.component.html -->
<div class="register-container">
  <h1>Registro Usuario</h1>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="fullName" placeholder="Nombre y apellido" [ngClass]="{
          invalid:
            registerForm.get('fullName')?.invalid &&
            registerForm.get('fullName')?.touched
        }" />
      <div *ngIf="
          registerForm.get('fullName')?.invalid &&
          registerForm.get('fullName')?.touched
        " class="error-message">
        Nombre y apellido es requerido
      </div>
    </div>

    <div class="form-group">
      <input type="email" formControlName="email" placeholder="Email" [ngClass]="{
          invalid:
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
        }" />
      <div *ngIf="
          registerForm.get('email')?.invalid &&
          registerForm.get('email')?.touched
        " class="error-message">
        Email válido es requerido
      </div>
    </div>

    <div class="form-group">
      <input type="tel" formControlName="phone" placeholder="Telefono de Contacto" [ngClass]="{
          invalid:
            registerForm.get('phone')?.invalid &&
            registerForm.get('phone')?.touched
        }" />
      <div *ngIf="
          registerForm.get('phone')?.invalid &&
          registerForm.get('phone')?.touched
        " class="error-message">
        Telefono de contacto es requerido
      </div>
    </div>

    <div class="form-group">
      <input type="password" formControlName="password" placeholder="Contraseña" [ngClass]="{
          invalid:
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
        }" />
      <div *ngIf="
          registerForm.get('password')?.invalid &&
          registerForm.get('password')?.touched
        " class="error-message">
        Contraseña debe tener al menos 6 caracteres
      </div>
    </div>

    <div class="terms-section">
      <div class="checkbox-container">
        <input type="checkbox" id="terms" formControlName="acceptTerms" />
        <label for="terms">I accept the
          <span class="terms-link" (click)="openTerms()">terms and conditions</span></label>
      </div>
    </div>

    <button type="submit" class="register-button" [disabled]="registerForm.invalid">
      Registrarse
    </button>
  </form>

  <button class="login-button" (click)="navigateToLogin()">
    Ya tengo una cuenta
  </button>
</div>