<div class="carrusel-container" [ngStyle]="{'background-image': 'url(' + imagenes[indiceImagenActual] + ')'}">
  <div class="carrusel-overlay"></div> 
  <div class="carrusel-text">
    <h1>
      <span class="highlight-carrusel">Déjate adoptar,</span><br>
      <span class="subtext-carrusel">por una patita</span>
    </h1>
  </div>
</div>

<div class="container">
  <div class="left-block">
    <h1>
      <span class="highlight">Encuentra a tu nuevo</span><br>
      <span class="subtext">mejor amigo</span>
    </h1>
  </div>
  <div class="right-block">
    <img src="https://tecolotito.elsiglodedurango.com.mx/cdn-cgi/image/format=auto,width=1024/i/2018/10/741528.jpeg" alt="Imagen estática" />
  </div>
</div>

<div class="container">
  <div class="left-block">
    <img src="https://img.freepik.com/free-photo/adorable-kitty-with-monochrome-wall-her_23-2148955144.jpg" alt="Imagen estática" />
  </div>
  <div class="right-block text-block">
    <h1>
      <span class="highlight-yellow">Todo suma, </span> 
      <span class="black-text">tu ayuda hace</span><br>
      <span class="black-text">la diferencia</span>
    </h1>
  </div>
</div>

<div class="container">
  <div class="left-block">
    <h1>
      <span class="highlight">Hay muchas formas</span><br>
      <span class="subtext">de ayudar</span>
    </h1>
  </div>
  <div class="right-block">
    <img src="https://tecolotito.elsiglodedurango.com.mx/cdn-cgi/image/format=auto,width=1024/i/2018/10/741528.jpeg" alt="Imagen estática" />
  </div>
</div>

<app-footer></app-footer>
