<div class="carrusel-container" [ngStyle]="{'background-image': 'url(' + imagenes[indiceImagenActual] + ')'}">
  <div class="carrusel-overlay"></div>
  <div class="carrusel-text">
    <h1>
      <span class="highlight-carrusel">Déjate adoptar,</span><br>
      <span class="subtext-carrusel">por una patita</span>
    </h1>
    <button class="btn btn-cta-carrusel" (click)="navegarAPeluditos()">Ver Peluditos</button>
    
  </div>
  
</div>

<div class="container section-padding">
  <div class="left-block">
    <h1>
      <span class="highlight">Encuentra a tu nuevo</span><br>
      <span class="subtext">mejor amigo</span>
    </h1>
    <!-- <button class="btn btn-accion" (click)="navegarAPeluditos()">Explorar Mascotas</button> -->
  </div>
  <div class="right-block">
    <img src="https://tecolotito.elsiglodedurango.com.mx/cdn-cgi/image/format=auto,width=1024/i/2018/10/741528.jpeg"
      alt="Perro feliz siendo abrazado" />
  </div>
</div>

<div class="container section-padding section-inverse">
  <div class="left-block">
    <img src="https://img.freepik.com/free-photo/adorable-kitty-with-monochrome-wall-her_23-2148955144.jpg"
      alt="Gatito adorable mirando" />
  </div>
  <div class="right-block text-block">
    <h1>
      <span class="highlight-yellow">Todo suma, </span>
      <span class="black-text">tu ayuda hace</span><br>
      <span class="black-text">la diferencia</span>
    </h1>
    <!-- <button class="btn btn-accion btn-ayuda" (click)="navegarAComoAyudar()">Cómo Ayudar</button> -->
  </div>
</div>

<app-footer></app-footer>