<footer>
    <div class="footer-left">
        <a href="https://facebook.com" target="_blank">
            <img src="https://img.icons8.com/?size=256&id=62225&format=png" alt="Facebook">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="https://img.icons8.com/?size=256&id=437&format=png" alt="Twitter">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="https://img.icons8.com/?size=256&id=32292&format=png" alt="Instagram">
        </a>
        <a href="https://linkedin.com" target="_blank">
            <img src="https://img.icons8.com/?size=256&id=8808&format=png" alt="LinkedIn">
        </a>
    </div>
    <div class="footer-right">
        <h2>Peluditos Ya!</h2>
        <p>Todos los derechos reservados</p>
        <p>contacto&#64;peluditosya.com</p>
    </div>
</footer>
