<div class="hero-section-tricky">
    <div class="hero-overlay-text">
        <h1><span class="yellow-text">Patitas<br></span> <span class="black-text">En Adopción</span></h1>
    </div>

    <div class="tricky-cards-container">
        <div class="tricky-card" *ngFor="let imageUrl of carouselImageUrls"
             [style.background-image]="'url(' + imageUrl + ')'">
        </div>
    </div>
</div>

<div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar mascota..." />
    <select [(ngModel)]="filtroEdad">
        <option value="">Edad</option>
        <option value="cachorro">Cachorro</option>
        <option value="adulto">Adulto</option>
    </select>
    <select [(ngModel)]="filtroSexo">
        <option value="">Sexo</option>
        <option value="macho">Macho</option>
        <option value="hembra">Hembra</option>
    </select>
    <select [(ngModel)]="filtroTipo">
        <option value="">Tipo</option>
        <option value="DOG">Perro</option>
        <option value="CAT">Gato</option>
    </select>
</div>

<div class="adoption-container">
    <div class="mascotas-grid">
        <div *ngFor="let mascota of getMascotasFiltradas()" class="mascota-card">
            <img [src]="mascota.imagen" alt="{{mascota.nombre}}">
            <h2>{{mascota.nombre}}</h2>
            <p>{{mascota.descripcion}}</p>
            <button *ngIf="mascota.id" [routerLink]="['/animal-profile', mascota.id]">
                Ver perfil
            </button>
            <button>Adoptar</button>
          </div>
    </div>
</div>

<div *ngIf="usuarioAutenticado" class="register-as">
    <div class="register-text">
        <button [routerLink]="'/register-animal'">Registrar un Peludito ¡Ya!</button>
    </div>
</div>

<app-footer></app-footer>