<header class="header-container">
  <div class="logo-container">
    <img
      src="https://s3-alpha-sig.figma.com/img/3f7b/9782/c1a4c70a56f1f5e9abc694f811833360?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Z2vxwYP3z3srnSvlqjZger-eP~lXwLyuhsqwEpaQ-Jj5B3YCQsKVyEVcPYiOqzQYZ1jQtP6jxpKURT5X-6-lCdyiaKdv2cwYnknQ1bxfdhZNGfNKCmRLiGRZ7mL4XagH5Y6M4U2mXFUkebaLIQf7m2SEapAuZuGx249m3z5wLZ89RKDOyWDX36eNnCkFW7fWOR4BT36H7ADT0HuRosOLYOzyKnxav0N3aB1NXyxHKrCjtxd~PA6HLsf75vtSsSCEWP7xiaaSTq32JSQ5Dax6swzI1kIKf0R2EFV37znnLWDTaD1rHHK~iGFLUXvIZQZGbwvkF3C7-YbzfYZ-wrrV0A__"
      alt="Peluditos Ya Logo" class="logo">
  </div>

  <nav class="navigation">
    <ul class="nav-links">
      <li *ngFor="let item of navigationItems">
        <a [routerLink]="item.route" routerLinkActive="active">{{ item.label }}</a>
      </li>
      <!-- Mostrar el enlace solo si es admin -->
      <li *ngIf="isAdmin">
        <a routerLink="/admin-dashboard" class="admin-link">Panel de Administración</a>
      </li>      
    </ul>
  </nav>

  <div class="action-buttons">
    <ng-container *ngIf="isLoggedIn; else loginButton">
      <button class="btn btn-login" (click)="logout()">Cerrar Sesión</button>
    </ng-container>

    <ng-template #loginButton>
      <button class="btn btn-login" [routerLink]="'/register-adopter'">Iniciar</button>
    </ng-template>

    <button class="btn btn-donate">Realizar donación</button>
  </div>
</header>
