<div class="header-image">
  <img src="https://adiccioncomunicacion.com/images/mascotitas.jpg" alt="Equipo colaborando" />
</div>


<main>
  <h1>Sobre Nosotros</h1>
  <p class="intro-text">
    Somos un equipo comprometido con apoyar a las mascotas sin hogar y a los hogares que dedican su labor a cuidarlas.
    Nuestra misión es conectar a estas mascotas y refugios con adoptantes y donantes a través de nuestra plataforma,
    facilitando la adopción responsable y el apoyo necesario para mejorar la calidad de vida de estos animales.
  </p>

  <div class="cards-container">
    <div class="card">
      <img class="avatar" src="https://randomuser.me/api/portraits/men/75.jpg" alt="Ion Ramirez" />
      <div class="name">Ion Ramirez</div>
      <div class="info">
        Frontend Developer<br />
        Diseño experiencias amigables<br />
        Apasionado por conectar mascotas y personas
      </div>
    </div>

    <div class="card">
      <img class="avatar" src="https://randomuser.me/api/portraits/men/52.jpg" alt="Betoro Herbas" />
      <div class="name">Betoro Herbas</div>
      <div class="info">
        Backend Developer<br />
        Sistemas seguros y confiables<br />
        Apoyo a adopción y refugios
      </div>
    </div>

    <div class="card">
      <img class="avatar" src="https://randomuser.me/api/portraits/women/65.jpg" alt="Iturru" />
      <div class="name">Iturru</div>
      <div class="info">
        Full Stack Developer<br />
        Desarrollo ágil e innovación<br />
        Conecto hogares y adoptantes
      </div>
    </div>
  </div>


</main>

<app-footer></app-footer>